{% extends 'home.html' %}
{% load staticfiles %}


{% block annad %}
    <div class="annad">
	            <dl class="annad_dl">
	                <dt class="annad_dt">Stutt æviágrip</dt>
	                    <dd id="bio_dd">
	                        <p id="bio_dd">
		                        Ég er fæddur í Luxembourgh enn uppalinn í Reykjavík. Sem strákur bjó ég
		                        í Hlíðunum og eyddi mestum mínum tíma við leik og í íþróttum. Hinsvegar þegar leið á unglingsárin
		                        fékk ég áhuga á stuttmyndagerð sem þróaðist í brennandi áhuga á tónlistarsköpun
		                        og sérstaklega að vinna með hljóð í gegnum alls kyns græjur og tölvur.
                                <p></p>
		                        Þetta leiddi til þess að ég ásamt félaga mínum Bjarna Þór stofnuðum rafdúóið Einóma.
		                        Enn undir því nafni höfum við spilað víðsvegar og gefið út sex plötur hjá virtum erlendum
		                        plötufyrirtækjum. Á miðjum þrítugsaldri
		                        flutti ég til Hollands og bjó þar í tæp níu ár. Enn þar
		                        stundaði ég nám í sónólógíu fræðum. Þetta nám tvinnar saman vísindi og tónlist þar
		                        sem vísindaleg nálgun er notuð til þess að þróa ný form í tónlist. Enn masters verkefnið mitt
		                        snérist um samspil tíma og hljóðs í uppbyggingu tónlistar forms.
                                <p></p>
		                        Eftir að ég flutti frá Hollandi þá hóf ég nám í tölvunarfræðideild HR. Forritun var farin að
		                        blanda sér meira og meira inn í verkefnin mín og byrjaði ég að fá áhuga á þeim möguleikum
		                        sem felast í því að skilgreina tónlistarlegar tegundir (musical objects) í hlutbundni forritun.
		                        Þó svo að ég hafi farið í námið með ákveðnar hugmyndir opnaði deildin enn fleiri dyr
		                        og áhugamál fyrir mér eins og vefforritun, kviklegar samskiptaleiðir í gegnum netið
		                        og hvernig hægt sé að nýta tólin til þess að bæta notenda upplifunina og finna nýjar leiðir fyrir allskyns gjörninga.


		                    </p>
		                </dd>

	                <dt class="annad_dt" id="_dt">Um mig</dt>
	                    <dd id="bio_ahugamal">
	                        <p id="bio_ahugamal">Ég er reglusamur einstaklingur, hraustur og með brennandi áhuga á hlutum og lífinu í
		                        kringum mig. Ég hef alltaf verið vinnusamur með nóg að verkefnum í gangi og er meira enn reiðubúin til þess að
		                        komast í eitthvað nýtt og spennandi. Ég vinn vel í hóp sem byggir á reynslu sem ég hef öðlast út frá námsferli, vinnum
		                        og listrænum verkefnum þar sem ég hef td þurft að vinna með fólki frá ólíkum meningarheimum sem hefur allt aðra sýn á hlutunum.
		                        Ég get verið ákveðin og með vissar hugmyndir enn hlusta ávallt á ábendingar annara með hug sem ávalt beinist að velferð hópsins.

		                        Í dag er ég í sambandi með stelpu frá Grikklandi enn ég á eina 10 ára stelpu
		                        sem heitir Hrafnhildur frá fyrra sambandi og deili ég og móðir hennar umsjá.</p>
	                    </dd>


	            </dl>

		</div>

{% endblock %}