<!DOCTYPE>
<html>
<head>
		<title>CV Steindór Grétar Kristinsson</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/static/css/cv.css" rel="stylesheet" media="screen">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	</head>
	<body>
		<div class="kunnatta">
			<dl>
				<dt>Forritunarmál</dt>
				<dd id="push_down_dd">C++, Java, Python, Scheme/Lisp, Java script, Bash scripting. </dd>
				<dt id="_dt">Forrit</dt>
				<dd id="push_down_dd">Max/Msp, Sublime Text, Microsoft Office, Open Office, Ableton Live.</dd>
				<dt id="_dt">Samstæðustjórnun</dt>
				<dd id="push_down_dd">Git.</dd>
				<dt id="_dt">Prófanir</dt>
				<dd id="push_down_dd">Selenium, Unit tests.</dd>
                <dt id="_dt">Tungumál</dt>
				<dd id="push_down_dd">Enska: Mjög góð</dd>
				<dd id="push_down_dd">Spænska: Sæmileg</dd>


			</dl>
		</div>

        <div class="onnur_reynsla">
            <dl class="onnur_reynsla">
                <dt class="forr_reynsla_dt" id="_dt"> Forritunar reynsla </dt>
                    <dd style="margin-left: -5px;"id="push_down_dd">
                        <ul id="forr_reynsla_ul">
                                <li><p><b>HR Lokaverkefni</b>: Endurhönnun á Leikminnjasafn.is </p></li>
                                <li><p class="text_for_forr_reynsla"> Lýsing: Þetta var hópaverkefni enn snérist um að endurhanna gagnagrunn og
                                    framenda Leikminnjasafns Íslands. Enn Leikminnjasafn Íslands haldur utan um
                                    öll gögn sem tengjast Íslensku leiklistarstarfi.</p></li>
                                <li><p class="text_for_forr_reynsla">Hugbúnaðar umhverfi: Django, python 3, Git, </p></li>
                                <li><p class="text_for_forr_reynsla">Hugbúnaðar þróun(aðferðafræði): Ferlið var unnið útfrá Scrum</p></li>
                                <li><p class="text_for_forr_reynsla">Hlutverk: Scrum master og framenda forritari  </p></li>
                                <li><p class="text_for_forr_reynsla">Staða: Verkið er lokið og einkun var 7.5</p></li>
                        </ul>
                        <ul id="forr_reynsla_ul">
                                    <li><p><b>Eleni Podara</b>: Profile síða fyrir listamann. </p></li>
                                    <li><p class="text_for_forr_reynsla"> Lýsing: Þetta var einstaklingsverkefni sem snérist um að hanna gagnagrunn,
                                    umsjónarenda og framenda fyrir byrtingu á ýmsum gögnum sem tengjast listrænum verkefnum notanda.
                                    </p></li>
                                    <li><p class="text_for_forr_reynsla">Hugbúnaðar umhverfi: Django, python 3, Git, </p></li>
                                    <li><p class="text_for_forr_reynsla">Hugbúnaðar þróun(aðferðafræði): Þar sem þetta var
                                    einstaklings verkefni þá blandaði ég saman Scrum og Kanban í nýtt sérsniðið mix</p></li>
                                    <li><p class="text_for_forr_reynsla">Hugbúnaðar umhverfi: Django, python 3, Git, Java Script, jquery </p></li>
                                    <li><p class="text_for_forr_reynsla">Staða: Verkið er lokið og má sjá hér(fixa lén)</p></li>
                        </ul>
                    </dd>

                <dt class="forr_reynsla_dt" id="_dt"> Tónlistarverkefni </dt>
				    <dd id="push_down_dd">
				        <p class="tonlistarverkefni_header">Einóma</p>
				        <p class="text_for_forr_reynsla"> Með hljómsveitinni Einóma hef ég starfað síðan 1999 og gefið út 6 plötur ásamt því að hafa spilað efnið víðsvegar,
				        gert endurhljóðblöndur og gefið út á safnplötum. Við höfum unnið með virtum plötufyrirtækum og alltaf skilað því starfi sem búist er við af okkur.
				        Ný breiðskífa mun koma út hjá Touching Base næsta sumar.
				        </p class="text_for_forr_reynsla">
				        <p class="text_for_forr_reynsla">Útgáfur og fleira má sjá hér: <a href="http://www.einoma.com" target=_blank>
				            einoma.com </a>
				        </p>
				        <p class="tonlistarverkefni_header">Sólo</p>
                        <p class="text_for_forr_reynsla"> Sjálfur hef ég gefið út eina plötu undir mínu nafni ásamt því að hafa spilað marga tónleika og unnið við hljóðinnsetningar</p>
				        <p class="text_for_forr_reynsla"> <a>SAD</a>: Hljóðinnsetning flutt á Vetrarhátíðinni 2013 undir leikstjórn Rebekku Jónsdóttir(breyta)</p>
				        <p class="text_for_forr_reynsla"> <a>Flute machine</a>: Sólo ep plata gefin út hjá Shipwrec seint 2011</p>

				        <p class="tonlistarverkefni_header">Tónleika og Plötusnúðastarfsemi</p>
				        <p class="text_for_forr_reynsla">
				        Frá því ég var um tvítugt þá hef ég spilað þónokkuð sem plötusnúður og
				        sett upp tónleika á Íslandi og annarstaðar í Evrópu
                        </p>
				        <p class="text_for_forr_reynsla">
				            Ef haldið tónleika með listamönnum eins og: Björk Guðmundsdóttir(DJ),
				            Autechre, Jega, Bola, Richard Devine, Phoenecia, Kippi Kaninus og fleirum.
				        </p>
                    </dd>
			    <dt class="forr_reynsla_dt" id="_dt">Ýmis reynsla</dt>
                    <dd id="push_down_dd">
                        <p> Ég hef búið mikið erlendis. Lengstan tíma bjó ég í Hollandi enn einnig bjó ég á Spáni
                            þar sem ég var í spænskuskóla og í Danmörku þar sem ég var eitt sumar á vegum Nordjob.
                            Það hefur gefið mér mikin skilning og frekari víðsýni
                            að hafa búið svona lengi erlendis. Maður kynnist öðrum menningar
                            heimum og öðrum hugsunarhætti
                            sem veldur því að maður fær betri skilning á heiminum,
                            maður öðlast frekari aðlögunarhæfni, og maður lærir betur hvar maður stendur ogsfrv
                        </p>
                    </dd>

                <dt class="forr_reynsla_dt" id="_dt">Starfs reynsla</dt>
                    <dd style="margin-left: -2px;" id="push_down_dd">
                        <ul>
				            <li>2013 </li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Næturvörður á Hótel Glymur </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Júni-Ágúst</li>

				            <li id="_dt">2010-2012</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Sjálfstætt starfandi Listamaður.</li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Fékk listamannalaun í Hollandi og vann að útgáfum og tónlistarflutningi
				                víðsvegar um evrópu </li>
				            <li id="_dt">2007</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Sambýlið á Marrbakkabraut 14 </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Júni-Ágúst</li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Almenn umönnunarstörf fyrir heimilismeðlimi.</li>
				            <li id="_dt">2004</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>:Sambýlið á Marrbakkabraut 14 </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Janúar-Ágúst</li>

				            <li id="_dt">2002-2003</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Félagsþjónusta Reykjavíkur</li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: September 2002 - sept 2004 </li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Aðstoð við heimilistörf og annarskonar hjálp.</li>
			            </ul>
                    </dd>
		    </dl>
        </div>

		<div class="Menntun">
			<dl>
				<dt>2012-2014 </dt>
				<dd id="push_down_dd"><b>Skóli</b>: Háskólinn í Reykjavík  </dd>
				<dd><b>Braut</b>: Tölvunarfræði</dd>
				<dd><b>Gráða</b>: BSc í tölvunarfræði</dd>

				<dt id="_dt">2008-2010</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Royal Conservatory Den Haag</dd>
				<dd><b>Braut</b>: Sonology</dd>
				<dd><b>Gráða</b>: MA </dd>
				<dd><b>Rannsóknarverkefni</b>: Samspil tíma og hljóðs í tónlistarsköpun</dd>

				<dt id="_dt">2004-2008</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Royal Conservatory Den Haag</dd>
				<dd><b>Braut</b>: Sonology Master</dd>
				<dd><b>Gráða</b>: BA </dd>
				<dd><b>Lokaverkefni</b>: Tónsmíðar með hljóðum</dd>

				<dt id="_dt">1996-2002</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Menntaskólinn við Ármúla.</dd>
				<dd><b>Gráða</b>: Stúdentspróf af félagsfræðibraut. </dd>
			</dl>
		</div>
		<!-- Annad-->
		<div class="annad">
	            <dl class="annad_dl">
	                <dt class="annad_dt">Stutt æviágrip</dt>
	                    <dd id="bio_dd">
	                        <p id="bio_dd">
		                        Ég er fæddur í Luxembourgh enn uppalinn í Reykjavík. Sem strákur bjó ég
		                        í Hlíðunum og eyddi mestum mínum tíma við leik og í íþróttum. Hinsvegar þegar leið á unglingsárin
		                        fékk ég áhuga á stuttmyndagerð sem þróaðist í brennandi áhuga á tónlistarsköpun
		                        og sérstaklega að vinna með hljóð í gegnum alls kyns græjur og tölvur.
                                <b></b>
		                        Þetta leiddi til þess að ég ásamt félaga mínum Bjarna Þór stofnuðum rafdúóið Einóma.
		                        Enn undir því nafni höfum við spilað víðsvegar og gefið út sjö plötur hjá virtum erlendum
		                        plötufyrirtækjum. Á miðjum þrítugsaldri
		                        flutti ég til Hollands og bjó þar í tæp níu ár. Enn þar
		                        stundaði ég nám í sónólógíu fræðum. Þetta nám tvinnar saman vísindi og tónlist þar
		                        sem vísindaleg nálgun er notuð til þess að þróa ný form í tónlist. Enn masters verkefnið mitt
		                        snérist um samspil tíma og hljóðs í uppbyggingu tónlistar forms.

		                        Eftir að ég flutti frá Hollandi þá hóf ég nám í tölvunarfræðideild HR. Forritun var farin að
		                        blanda sér meira og meira inn í verkefnin mín og byrjaði ég að fá áhuga á þeim möguleikum
		                        sem felast í því að skilgreina tónlistarlegar tegundir (musical objects) í hlutbundni forritun.
		                        Þó svo að ég hafi farið í námið með ákveðnar hugmyndir opnaði deildin enn fleiri dyr
		                        og áhugamál fyrir mér eins og vefforritun, kviklegar samskiptaleiðir í gegnum netið
		                        og hvernig hægt sé að nýta tólin til þess að bæta notenda upplifunina og finna nýjar leiðir fyrir allskyns gjörninga
		                        svo að forritunar tólin nýtist sem best.


		                    </p>
		                </dd>

	                <dt class="annad_dt" id="_dt">Um mig</dt>
	                    <dd id="bio_ahugamal">
	                        <p id="bio_ahugamal">Ég er reglusamur einstaklingur, hraustur og með brennandi áhuga á hlutum og lífinu í
		                        kringum mig. Ég hef alltaf verið vinnusamur með nóg að verkefnum í gangi og er meira enn reiðubúin til þess að
		                        komast í eitthvað nýtt og spennandi. Ég vinn vel í hóp og hef haft þokkalega reynslu hvað það varðar út frá minni fyrri reynslu í tónlistinni.
		                       Ég get verið ákveðin og með vissar hugmyndir enn hlusta ávallt á ábendingar annara.

		                        Í dag er ég í sambandi með stelpu frá Grikklandi enn ég á eina 10 ára stelpu
		                        sem heitir Hrafnhildur frá fyrra sambandi og deili ég og móðir hennar umsjá.</p>
	                    </dd>


	            </dl>

		</div>


	    <div class="medmaeli">
            <dl>
                <dt>Nafn: Inga Steinlaug Guðmundsdóttir</dt>
                <dd id="push_down_dd">Sími 8489274</dd>
                <dd>Starf: Starfsmaður á Marrbakabraut 14</dd>

		        <dt id="_dt">Nafn: Ragna jónsdóttir</dt>
                <dd id="push_down_dd">Sími 7747274</dd>
                <dd>Starf: Hótelstjóri á Hótel glym</dd>
            </dl>
		</div>

		<div class="hlekkir">
            <dl>

                <dd><a href="http://www.facebook.com/steindor.kristinsson" class="fb_link">
                <img  src="/static/img/faceicon.jpg"
                     width="40" height="40"></a>

                </dd>
            </dl>
		</div>




	</body>


<script src='/static/js/cv.js' type="text/javascript"/></script>
</html>