<!DOCTYPE>
<html>
	<head>
		<title>CV Steindór Grétar Kristinsson</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/static/css/cv.css" rel="stylesheet" media="screen">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	</head>
	<body>

                <h2> Steindór Grétar Kristinsson</h2>
		<div class="almennt">

			<div class="almennt_text">

			    <p>	 Kt: 270580-6109</p>
			    <p>  Sími: 8212651</p>
			    <p>  Netfang: sgkristinsson@gmail.com</p>

			</div>

			 <div class="almennt_img">
			    <img id="img"
				    src=" /static/img/steindorCV.jpg">
		    </div>

		</div>
        <div class="nav_content_container">
		    <div class="nav">
				    <ul>
					    <li><a href="/menntun" id="menntun"> Menntun  </a></li>
					    <li><a href="/reynsla" id="onnur_reynsla"> Reynsla  </a></li>
					    <li><a href="/kunnatta" id="kunnatta"> Kunnátta  </a></li>
					    <li><a href="/annad" id="annad"> 	Annað   </a></li>
				        <li><a href="/medmaeli" id="medmaeli"> Meðmæli </a></li>
				        <li><a href="/hlekkir" id="hlekkir"> Hlekkir </a></li>
				    </ul>
		    </div>


			    <div class="content_container">
                    <div id="home_text">Velkomin á ferilskrá síðu mína.
                    Vinsamlegast smellið á hlekkina hér til hliðar </div>
                    {% block menntun %} {% endblock %}
                    {% block kunnatta %} {% endblock %}
                    {% block reynsla %} {% endblock %}
                    {% block annad %} {% endblock %}
                    {% block medmaeli %} {% endblock %}
                    {% block hlekkir %} {% endblock %}

                </div>

		</div>
	</body>
<script src='/static/js/cv.js' type="text/javascript"/></script>
</html>