{% extends 'home.html' %}
{% load staticfiles %}


{% block kunnatta %}


    <div class="kunnatta">
		<dl>
				<dt>Forritunarmál</dt>
				<dd id="push_down_dd">C++, Java, Python, Scheme/Lisp, Java script, Bash scripting </dd>
				<dt id="_dt">Forrit</dt>
				<dd id="push_down_dd">Max/Msp, Super Collider, Ableton Live, Cubase, CDP, Sublime Text, Microsoft Office, Open Office, X Code, Eclips, Photoshop og fullt meira </dd>
				<dt id="_dt">Stýrikerfi</dt>
				<dd id="push_down_dd">Hef unnið á pc, mac og linux vélum enn seinustu árin hef ég mest verið á mac</dd>
				<dt id="_dt">Samstæðustjórnun</dt>
				<dd id="push_down_dd">Git</dd>
				<dt id="_dt">Prófanir</dt>
				<dd id="push_down_dd">Selenium, Unit tests</dd>
                <dt id="_dt">Aðferðafræði við hugbúnaðarþróun</dt>
				<dd id="push_down_dd">Scrum</dd>
                <dt id="_dt">Tungumál</dt>
				<dd id="push_down_dd">Enska: Mjög góð</dd>
				<dd id="push_down_dd">Spænska: Sæmileg</dd>
			</dl>
    </div>

{% endblock %}
