{% extends 'home.html' %}
{% load staticfiles %}


{% block medmaeli %}
     <div class="medmaeli">
            <dl>
                <dt>Nafn: Inga Steinlaug Guðmundsdóttir</dt>
                <dd id="push_down_dd">Sími: 8489274</dd>
                <dd>Starf: Starfsmaður á Marrbakabraut 14</dd>

		        <dt id="_dt">Nafn: Ragna Ívarsdóttir </dt>
                <dd id="push_down_dd">Sími: 894 69364</dd>
                <dd>Starf: Hótelstjóri á Hótel Glymur</dd>
            </dl>
		</div>

{% endblock %}