{% extends 'home.html' %}
{% load staticfiles %}


{% block menntun %}


    <div class="Menntun">
		<dl>
				<dt>2012-2014 </dt>
				<dd id="push_down_dd"><b>Skóli</b>: Háskólinn í Reykjavík  </dd>
				<dd><b>Braut</b>: Tölvunarfræði</dd>
				<dd><b>Gráða</b>: BSc í tölvunarfræði</dd>

				<dt id="_dt">2008-2010</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Royal Conservatory Den Haag</dd>
				<dd><b>Braut</b>: Sonology Master</dd>
				<dd><b>Gráða</b>: MA </dd>
				<dd><b>Rannsóknarverkefni</b>: Samspil tíma og hljóðs í tónlistarsköpun</dd>

				<dt id="_dt">2004-2008</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Royal Conservatory Den Haag</dd>
				<dd><b>Braut</b>: Sonology Bachelor </dd>
				<dd><b>Gráða</b>: BA </dd>
				<dd><b>Lokaverkefni</b>: Tónsmíðar með hljóðum</dd>

				<dt id="_dt">1996-2002</dt>
				<dd id="push_down_dd"><b>Skóli</b>: Menntaskólinn við Ármúla.</dd>
				<dd><b>Gráða</b>: Stúdentspróf af félagsfræðibraut. </dd>
			</dl>
    </div>

{% endblock %}