{% extends 'home.html' %}
{% load staticfiles %}


{% block reynsla %}


    <div class="onnur_reynsla">
            <dl class="onnur_reynsla">
                <dt class="forr_reynsla_dt" id="_dt"> Forritunarreynsla </dt>
                    <dd style="margin-left: -5px;">
                        <ul id="forr_reynsla_ul">
                                <li ><p ><b style="text-decoration:underline;">HR Lokaverkefni</b>: Endurhönnun á Leikminnjasafn.is </p></li>
                                <li><p class="text_for_forr_reynsla"> <b>Lýsing</b>: Þetta var hópaverkefni unnið með Eyjólfi Kristjánsyni og Kristjáni Guðjónsyni. Enn verkefnið var að
                                endurhanna gagnagrunn, skráningar kerfi, umsjónarvef,
                                leitarvél og framenda Leikminnjasafns Íslands. Enn Leikminnjasafn Íslands heldur utan um
                                    öll gögn sem tengjast Íslensku leiklistarstarfi.</p></li>
                                <li><p class="text_for_forr_reynsla"><b>Hugbúnaðar umhverfi</b>: Django, python 3, Git, angular og Java script </p></li>
                                <li><p class="text_for_forr_reynsla"><b>Hugbúnaðar þróun(aðferðafræði)</b>: Ferlið var unnið útfrá Scrum</p></li>
                                <li><p class="text_for_forr_reynsla"><b>Hlutverk</b>: Scrum master og framenda forritari  </p></li>
                                <li><p class="text_for_forr_reynsla"><b>Staða</b>: Verkið er lokið og einkun var 7.5</p></li>
                        </ul>
                        <ul id="forr_reynsla_ul">
                                    <li><p ><b style="text-decoration:underline;">Eleni Podara</b>: Profile síða fyrir listamann </p></li>
                                    <li><p class="text_for_forr_reynsla"> <b>Lýsing</b>:
                                    Verkefnið sem er enn í gangi snýst um að hanna framenda,
                                    umsjónarenda, og gagnagruns strúktur fyrir heimasíðu listamanns.

                                    Fyrsta útgáfan sem komin er á netið er asynchronous og inniheldur responsive css design, jquery image animation og image slide show forritað í jquery.
                                    </p></li>
                                    <li><p class="text_for_forr_reynsla"><b>Hugbúnaðar umhverfi</b>: Django, python 3, Git, Java Script, Jquery, Css, html 5 </p></li>
                                    <li><p class="text_for_forr_reynsla"><b>Hugbúnaðar þróun(aðferðafræði)</b>: Þar sem þetta var
                                    einstaklings verkefni þá blandaði ég saman Scrum og Kanban aðferðunum þar sem ég taldi það henta betur fyrir einn forritara.</p></li>
                                    <li><p class="text_for_forr_reynsla"><b>Staða</b>: Verkið er í vinnslu enn má sjá hér<a href="http://www.elenipodara.com" target=_blank>
				            elenipodara.com </a></p></li>
                        </ul>
                    </dd>

                <dt class="forr_reynsla_dt" id="_dt"> Tónlistarverkefni </dt>
				    <dd>
				        <p class="tonlistarverkefni_header"><span>Einóma</span></p>
				        <p class="text_for_forr_reynsla"> Með hljómsveitinni Einóma hef ég starfað síðan 1999 og gefið út 6 plötur ásamt því að hafa spilað efnið víðsvegar,
				        gert endurhljóðblöndur og gefið út á safnplötum. Tónlistin sem við gerum byggist mikið á tölvum og ýmsum hljóðvinnslu forritum sem við höfum í flestum tilfellum hannað sjálfir eða breyt að einhverju leiti.
				        Við höfum unnið með virtum plötufyrirtækum og alltaf skilað því starfi sem búist er við af okkur.
				        Ný breiðskífa mun koma út hjá Touching Base næsta sumar.
				        </p class="text_for_forr_reynsla">
				        <p class="text_for_forr_reynsla">Útgáfur og fleira má sjá hér: <a href="http://www.einoma.com" target=_blank>
				            einoma.com </a>
				        </p>
				        <p class="tonlistarverkefni_header"><span>Sólo ferill</span></p>
                        <p class="text_for_forr_reynsla"> Sjálfur hef ég gefið út eina plötu undir mínu nafni ásamt því að hafa spilað marga tónleika og unnið við hljóðinnsetningar.</p>
				        <p class="text_for_forr_reynsla"> <a href="http://vetrarhatid.is/sad-infected-darkness-23" target=_blank>SAD</a>: Hljóðinnsetning flutt á Vetrarhátíðinni 2013 undir leikstjórn Rebekku Ingimundardóttir.</p>
				        <p class="text_for_forr_reynsla"> <a href="http://clone.nl/item21651.html" target=_blank>Flute machine</a>: Sólo ep plata gefin út hjá Shipwrec seint 2011</p>

				        <p class="tonlistarverkefni_header"><span>Tónleika og Plötusnúðastarfsemi</span></p>
				        <p class="text_for_forr_reynsla">
				        Frá því ég var um tvítugt þá hef ég spilað þónokkuð sem plötusnúður og
				        sett upp tónleika á Íslandi og annarstaðar í Evrópu.
                        </p>
				        <p class="text_for_forr_reynsla">
				            Ef haldið tónleika með listamönnum eins og: Björk Guðmundsdóttir(DJ),
				            Autechre, Jega, Bola, Richard Devine, Phoenecia, Kippi Kaninus og fleirum.
				        </p>
                    </dd>
			    <dt class="forr_reynsla_dt" id="_dt">Ýmis reynsla</dt>
                    <dd >
                        <p> Ég hef búið mikið erlendis. Lengstan tíma bjó ég í Hollandi enn einnig bjó ég á Spáni
                            þar sem ég var í spænskuskóla og í Danmörku þar sem ég var eitt sumar á vegum Nordjob.
                            Það hefur gefið mér mikin skilning og frekari víðsýni
                            að hafa búið svona lengi erlendis. Maður kynnist öðrum menningar
                            heimum og öðrum hugsunarhætti
                            sem veldur því að maður fær betri skilning á heiminum,
                            maður öðlast frekari aðlögunarhæfni, og maður lærir betur hvar maður stendur ogsfrv.
                        </p>
                    </dd>

                <dt class="forr_reynsla_dt" id="_dt">Starfsreynsla</dt>
                    <dd style="margin-left: -2px;">
                        <ul>
				            <li>2013 </li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Næturvörður á Hótel Glymur </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Júni-Ágúst</li>

				            <li id="_dt">2010-2012</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Sjálfstætt starfandi Listamaður.</li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Fékk listamannalaun í Hollandi og vann að útgáfum og tónlistarflutningi
				                víðsvegar um evrópu </li>
				            <li id="_dt">2007</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Sambýlið á Marrbakkabraut 14 </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Júni-Ágúst</li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Almenn umönnunarstörf fyrir heimilismeðlimi</li>
				            <li id="_dt">2004</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>:Sambýlið á Marrbakkabraut 14 </li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: Janúar-Ágúst</li>

				            <li id="_dt">2002-2003</li>
				                <li class="li_starfsreynsla" id="push_down_dd"><b>Starf</b>: Félagsþjónusta Reykjavíkur</li>
				                <li class="li_starfsreynsla"><b>Timabil</b>: September 2002 - sept 2004 </li>
				                <li class="li_starfsreynsla"><b>Lýsing</b>: Aðstoð við heimilistörf og annarskonar hjálp</li>
			            </ul>
                    </dd>
		    </dl>
        </div>

{% endblock %}